:root {
    --white-color:#fff;
    --black-color:#000;
    --black-rgba-6 :rgba(0,0,0,0.6);
    --black-rgba-4 :rgba(0,0,0,0.4);
    --shades-of-ccc:#ccc;
    --shades-of-ddd:#ddd;
    --bright-red :#f44336;
    --dark-gray:#757575;
    --dark-cyan:rgb(214,91,29);
    --vivid-blue:#2196f3;
    --Very-light-gray:#f1f1f1
}
* {
    box-sizing: inherit;
    margin:0;
    padding: 0;

}
html {
    font-size:62.5%;
    line-height:1.6rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body {
    font-family: "Lato", sans-serif;
    font-size:1.5em;
    
}
/* margin top */
.mt-8 {
    margin-top: 8px!important;
}
.mt-16 {
    margin-top: 16px!important;
}
.mt-32 {
    margin-top: 32px!important;
}
.mt-48 {
    margin-top: 48px!important;
}
.mt-64 {
    margin-top: 64px!important;
}
/* padding */
.p-5 {
    padding: 5px!important;

}
.p-10 {
    padding: 10px!important;
}
.p-15 {
    padding: 15px!important;
}
.p-20 {
    padding: 20px!important;
}
.p-25 {
    padding: 25px!important;
}
.p-30 {
    padding: 30px!important;
}

/* Button */
.btn {
    margin-top:15px;
    padding:11px 16px;
    text-decoration: none;
    display :inline-block;
    border-radius: 3px;
    outline: none;
    font-size: 1em;
    border: none;
    user-select: none;
    transition: opacity 0.2s ease;
    cursor: pointer;
}
.btn--black-white {
    background-color: var(--black-color);
    color : var(--white-color);
}

.btn:hover {
    opacity: 0.6;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.box{
    max-width: 100%;
    display:block;
    padding:0;
}

/* screen >1240px  PC*/
@media (min-width:77.5em) {
    


    .box-xl{
        max-width:1200px;
        margin:0 auto;
    }


    .row {
        display:flex;
        flex-wrap: wrap;
        margin-left: -16px;
        margin-right: -16px;
    }
    .row.xl-gutter {
        margin-left:-8px;
        margin-right: -8px;
    }
    .col{
        padding-left:16px;
        padding-right: 16px;
    }
    .row.xl-gutter .col {
        padding-left:8px;
        padding-right: 8px;
    }
    .xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .xl-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .xl-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .xl-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .xl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .xl-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .xl-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .xl-2-4{
        flex: 0 0 20% ;
        max-width: 20%;
    }
    .xl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .xl-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .xl-0{
        display: none;
    }
    .xl-1,
    .xl-2,
    .xl-2-4,
    .xl-3,
    .xl-4,
    .xl-5,
    .xl-6,
    .xl-7,
    .xl--8,
    .xl-9,
    .xl-10,
    .xl-11,
    .xl-12 {
        display :block;
    }

    .xl-ml-11 {
        margin-left: 91.66667%;
    }
    .xl-ml-10 {
        margin-left:83.33333%;
    }
    .xl-ml-9 {
        margin-left:75%
    }
    .xl-ml-8{
        margin-left:66.66667%;
    }
    .xl-ml-7 {
        margin-left:58.33333%;
    }
    .xl-ml-6 {
        margin-left: 50%;
    }
    .xl--ml-5 {
        margin-left: 41.66667%;
    }
    .xl-ml-4 {
        margin-left:33.3333%;
    }
    .xl-ml-3{
        margin-left:25%;
    }
    .xl-ml-2-4{
        margin-left: 20%;
    }
    .xl-ml-2{
        margin-left: 16.66667%;
    }
    .xl-ml-1{
        margin-left: 8.33333%;
}
}
/* screen  from 1024px to 1239px Laptop */
@media (min-width: 64em) and (max-width:77.4375em) {
    

    .box-l {
        max-width:984px;
        
    }

    .row {
        display:flex;
        flex-wrap: wrap;
        margin-left: -12px;
        margin-right: -12px;
    }
    .row.l-gutter {
        margin-left:-5px;
        margin-right: -5px;
    }
    .col{
        padding-left:12px;
        padding-right: 12px;

    }
    .row.l-gutter .col {
        padding-left:5px;
        padding-right: 5px;
    }
    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .l-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .l-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .l-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .l-2-4{
        flex: 0 0 20% ;
        max-width: 20%;
    }
    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .l-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .l-1{
        display:none;
    }
    .l--1,
    .l--2,
    .l--2-4,
    .l--3,
    .l--4,
    .l--5,
    .l--6,
    .l--7,
    .l--8,
    .l--9,
    .l--10,
    .l--11,
    .l--12 {
        display :block;
    }
    .l-ml-11 {
        margin-left: 91.66667%;
    }
    .l-ml-10 {
        margin-left:83.33333%;
    }
    .l-ml-9 {
        margin-left:75%
    }
    .l-ml-8{
        margin-left:66.66667%;
    }
    .l-ml-7 {
        margin-left:58.33333%;
    }
    .l-ml-6 {
        margin-left: 50%;
    }
    .l--ml-5 {
        margin-left: 41.66667%;
    }
    .l-ml-4 {
        margin-left:33.3333%;
    }
    .l-ml-3{
        margin-left:25%;
    }
    .l-ml-2-4{
        margin-left: 20%;
    }
    .l-ml-2{
        margin-left: 16.66667%;
    }
    .l-ml-1{
        margin-left: 8.33333%;
    }
}
/* screen form 740px  to 1023px Tablet
*/
@media (min-width: 46.26em) and (max-width:77.4375em){
    

    .box-md {
        max-width:720px;
        
    }

    .row {
        display:flex;
        flex-wrap: wrap;
        margin-left: -8px;
        margin-right: -8px;
    }
    .row.md-gutters {
        margin-left:4px;
        margin-right: 4px;
    }
    .col{
        padding-left:8px;
        padding-right: 8px;
    }
    .row.md-gutters .col {
        padding-left:4px;
        padding-right: 4px;
    }
    .md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .md-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .md-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .md-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .md-2-4{
        flex: 0 0 20% ;
        max-width: 20%;
    }
    .md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .md-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .md-0{
        display: none;
    }
    .md-1,
    .md-2,
    .md-2-4,
    .md-3,
    .md-4,
    .md-5,
    .md-6,
    .md-7,
    .md-8,
    .md-9,
    .md-10,
    .md-11,
    .md-12 {
        display :block;
    }
    .md-ml-11 {
        margin-left: 91.66667%;
    }
    .md-ml-10 {
        margin-left:83.33333%;
    }
    .md-ml-9 {
        margin-left:75%
    }
    .md-ml-8{
        margin-left:66.66667%;
    }
    .md-ml-7 {
        margin-left:58.33333%;
    }
    .md-ml-6 {
        margin-left: 50%;
    }
    .md--ml-5 {
        margin-left: 41.66667%;
    }
    .md-ml-4 {
        margin-left:33.3333%;
    }
    .md-ml-3{
        margin-left:25%;
    }
    .md-ml-2-4{
        margin-left: 20%;
    }
    .md-ml-2{
        margin-left: 16.66667%;
    }
    .md-ml-1{
        margin-left: 8.33333%;
    }
    }
    /* screen <=739px Mobile */
@media  (max-width:46.1875em){
        
    .box-sm {
        max-width: 540px;
    }
    .row {
        display:flex;
        flex-wrap: wrap;
        margin-left: -8px;
        margin-right: -8px;
    }
    .row.no-gutters {
        margin-left:0;
        margin-right: 0;
    }
    .col{
        padding-left:8px;
        padding-right: 8px;
    }
    .row.no-gutters .col {
        padding-left:4px;
        padding-right: 4px;
    }
    .sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .sm-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .sm-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .sm-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .sm-2-4{
        flex: 0 0 20% ;
        max-width: 20%;
    }
    .sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .sm-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .sm-0{
        display: none;
    }
    .sm-1,
    .sm-2,
    .sm-2-4
    .sm-3,
    .sm-4,
    .sm-5,
    .sm-6,
    .sm-7,
    .sm-8,
    .sm-9,
    .sm-10,
    .sm-11,
    .sm-12 {
        display :block;
    }
    .sm-ml-11 {
        margin-left: 91.66667%;
    }
    .sm-ml-10 {
        margin-left:83.33333%;
    }
    .sm-ml-9 {
        margin-left:75%
    }
    .sm-ml-8{
        margin-left:66.66667%;
    }
    .sm-ml-7 {
        margin-left:58.33333%;
    }
    .sm-ml-6 {
        margin-left: 50%;
    }
    .sm--ml-5 {
        margin-left: 41.66667%;
    }
    .sm-ml-4 {
        margin-left:33.3333%;
    }
    .sm-ml-3{
        margin-left:25%;
    }
    .sm-ml-2-4{
        margin-left: 20%;
    }
    .sm-ml-2{
        margin-left: 16.66667%;
    }
    .sm-ml-1{
        margin-left: 8.33333%;
    }

}